@CHARSET "UTF-8";
body {
    font-family: Verdana;	
    font-size: 1em;
}
div#principal {
    width: 80%;
    position: relative;
    float: left;
    left: 10%;
    border: 2px solid blue;
    padding-bottom: 15px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #999;
    border-radius: 10px;
}
h1 {
    font-size: 2em;
    color: orange;
    text-align: center;
    text-shadow: 1px 2px #999;
}
div#principal h2 {
    font-size: 1.5em;
    text-align: center;
    color: cadetblue;
}
div#principal div#secundario {
    width: 60%;
    position: relative;
    float: left;
    left: 20%;
}
a {
    text-decoration: none;
}
div#principal table {
    position: relative;
    width: 70%;
    left: 15%;
    margin-top: 10px;
}
div#principal table th {
    font-weight: normal;
    background-color: blue;
    color: white;
    text-align: left;
    padding: 5px;
}
div#principal table td, div#principal table th {
    border-collapse: separate;
    border: 1px solid cyan;
}
.enlace {
    display: inline;
    border: 0;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background: none;
    color: #000088;
    font-family: arial, sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}
p.error {
    text-align: center;
    color: red;
    font-size: 1.1em;
}
div.dato {
    width: 60%;
    margin-left: 20%;
}
.dato label, .dato input {
    display: inline;
    float: left;
    margin: .5em 0;
}
.dato label {
    width: 40%;
}
.dato input {
    padding: .3em;
}
.limpiar {
    clear: left;
}
input.envio {
    font-size: 1.2em;
    background-color:  plum;
    color: white;
    padding: 14px 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.flex {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
tbody tr:nth-child(2n-1) {
    background-color: aqua;
}